{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="login">

    <h1>{{ pp_config.headline }}</h1>
    <h2>{{ pp_config.description }}</h2>

   <form action="{{ page.header.slug }}" method="post" id="password-protection">
        <fieldset>

            <!-- Password input-->
            <div class="password-div">
                <label for="password">Password</label><br/>
                <input id="password" name="password" type="password" placeholder="Password" />
            </div>

            <!-- Antispam input-->
            <div class="antispam-div">
                <input id="antispam" name="antispam" type="hidden" placeholder="antispam" />
            </div>

            <!-- Form actions -->
            <div class="buttons">
				<br/>
                <button class="button" type="submit">Enter</button>
            </div>

        </fieldset>
    </form>
</div>

{% endblock %}

